#  ANOVA

In statistics, **Analysis of Variance (ANOVA)** is also used to analyze the differences among group means. The difference between t-test and ANOVA is the former is ued to compare two groups whereas the latter is used to compare three or more groups. [Read more about the difference between t-test and ANOVA](http://b.link/anova24).

From the ANOVA test, you receive two numbers. The first number is called the **F-value** which indicates whether your null-hypothesis can be rejected. The critical F-value that rejects the null-hypothesis varies according to the number of total subjects and the number of subject groups in your experiment. In [this table](http://b.link/eda14) you can find the critical values of the F distribution. **If you are confused by the massive F-distribution table, don't worry. Skip F-value for now and study it at a later time. In this challenge you only need to look at the p-value.**

The p-value is another number yielded by ANOVA which already takes the number of total subjects and the number of experiment groups into consideration. **Typically if your p-value is less than 0.05, you can declare the null-hypothesis is rejected.**

In this challenge, we want to understand whether there are significant differences among various types of pokemons' `Total` value, i.e. Grass vs Poison vs Fire vs Dragon... There are many types of pokemons which makes it a perfect use case for ANOVA.

In [3]:
import pandas as pd
import numpy as np

In [5]:
pokemon_data=pd.read_csv('pokemon.txt',sep=',')
pokemon_data

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

**To achieve our goal, we use three steps:**

1. **Extract the unique values of the pokemon types.**

1. **Select dataframes for each unique pokemon type.**

1. **Conduct ANOVA analysis across the pokemon types.**

#### First let's obtain the unique values of the pokemon types. These values should be extracted from Type 1 and Type 2 aggregated. Assign the unique values to a variable called `unique_types`.

*Hint: the correct number of unique types is 19 including `NaN`. You can disregard `NaN` in next step.*

In [6]:
unique_types_1 = pokemon_data['Type 1'].unique()
unique_types_2 = pokemon_data['Type 2'].unique()

unique_types = list(set(unique_types_1) | set(unique_types_2))

unique_types = [type_ for type_ in unique_types if type(type_) == str]

unique_types

['Dragon',
 'Grass',
 'Water',
 'Ghost',
 'Ice',
 'Fighting',
 'Dark',
 'Fairy',
 'Steel',
 'Flying',
 'Ground',
 'Bug',
 'Electric',
 'Fire',
 'Poison',
 'Rock',
 'Normal',
 'Psychic']

#### Second we will create a list named `pokemon_totals` to contain the `Total` values of each unique type of pokemons.

Why we use a list instead of a dictionary to store the pokemon `Total`? It's because ANOVA only tells us whether there is a significant difference of the group means but does not tell which group(s) are significantly different. Therefore, we don't need know which `Total` belongs to which pokemon type.

*Hints:*

* Loop through `unique_types` and append the selected type's `Total` to `pokemon_groups`. Be sure to loop through BOTH `Type 1` and `Type 2` to cover all occurrances of each unique type.
* Skip the `NaN` value in `unique_types`. `NaN` is a `float` variable which you can find out by using `type()`. The valid pokemon type values are all of the `str` type.
* At the end, the length of your `pokemon_totals` should be 18.

In [9]:
pokemon_totals_concat = []

for type_ in unique_types:
    total_values_type_1 = pokemon_data[pokemon_data['Type 1'] == type_]['Total']
    total_values_type_2 = pokemon_data[pokemon_data['Type 2'] == type_]['Total']
    
    combined_totals = pd.concat([total_values_type_1, total_values_type_2], ignore_index=True)
    pokemon_totals_concat.append(combined_totals)

pokemon_totals_concat

[0     300
 1     420
 2     600
 3     490
 4     590
 5     300
 6     420
 7     600
 8     700
 9     600
 10    700
 11    600
 12    700
 13    680
 14    780
 15    300
 16    410
 17    600
 18    700
 19    320
 20    410
 21    540
 22    485
 23    680
 24    680
 25    660
 26    700
 27    700
 28    300
 29    452
 30    600
 31    600
 32    634
 33    610
 34    540
 35    630
 36    340
 37    520
 38    680
 39    680
 40    680
 41    680
 42    300
 43    420
 44    600
 45    494
 46    362
 47    521
 48    245
 49    535
 Name: Total, dtype: int64,
 0     318
 1     405
 2     525
 3     625
 4     320
      ...
 90    335
 91    494
 92    494
 93    494
 94    494
 Name: Total, Length: 95, dtype: int64,
 0      314
 1      405
 2      530
 3      630
 4      320
       ...
 121    520
 122    306
 123    500
 124    320
 125    600
 Name: Total, Length: 126, dtype: int64,
 0     310
 1     405
 2     500
 3     600
 4     435
 5     295
 6     455
 7     555
 8     295
 9     455
 10    348
 11    498
 12    495
 13    485
 14    525
 15    680
 16    680
 17    303
 18    483
 19    275
 20    370
 21    520
 22    309
 23    474
 24    335
 25    335
 26    335
 27    335
 28    494
 29    494
 30    494
 31    494
 32    236
 33    380
 34    480
 35    480
 36    440
 37    335
 38    480
 39    303
 40    483
 41    325
 42    448
 43    520
 44    520
 45    600
 Name: Total, dtype: int64,
 0     455
 1     580
 2     250
 3     450
 4     330
 5     305
 6     300
 7     480
 8     580
 9     290
 10    410
 11    530
 12    580
 13    525
 14    530
 15    480
 16    305
 17    395
 18    535
 19    305
 20    485
 21    485
 22    304
 23    514
 24    475
 25    525
 26    535
 27    430
 28    334
 29    494
 30    594
 31    510
 32    520
 33    660
 34    700
 35    700
 36    362
 37    521
 Name: Total, dtype: int64,
 0     305
 1     455
 2     305
 3     405
 4     505
 5     455
 6     455
 7     210
 8     455
 9     237
 10    474
 11    280
 12    410
 13    510
 14    285
 15    525
 16    625
 17    305
 18    405
 19    505
 20    465
 21    465
 22    350
 23    510
 24    348
 25    495
 26    500
 27    510
 28    780
 29    500
 30    600
 31    405
 32    530
 33    630
 34    460
 35    405
 36    534
 37    580
 38    300
 39    490
 40    518
 41    618
 42    418
 43    528
 44    348
 45    488
 46    580
 47    580
 48    580
 49    580
 50    580
 51    600
 52    530
 Name: Total, dtype: int64,
 0     525
 1     405
 2     430
 3     330
 4     500
 5     600
 6     220
 7     420
 8     380
 9     480
 10    465
 11    565
 12    505
 13    510
 14    600
 15    281
 16    446
 17    348
 18    488
 19    330
 20    510
 21    340
 22    490
 23    370
 24    510
 25    300
 26    420
 27    600
 28    288
 29    482
 30    680
 31    640
 32    600
 33    700
 34    340
 35    480
 36    305
 37    460
 38    560
 39    475
 40    468
 41    329
 42    479
 43    485
 44    500
 45    292
 46    351
 47    519
 48    530
 49    495
 50    680
 Name: Total, dtype: int64,
 0     323
 1     483
 2     218
 3     245
 4     405
 5     300
 6     450
 7     545
 8     303
 9     371
 10    552
 11    341
 12    462
 13    341
 14    480
 15    525
 16    680
 17    270
 18    435
 19    460
 20    210
 21    250
 22    420
 23    198
 24    278
 25    518
 26    618
 27    190
 28    380
 29    480
 30    590
 31    310
 32    545
 33    280
 34    480
 35    431
 36    500
 37    470
 38    600
 39    700
 Name: Total, dtype: int64,
 0     510
 1     610
 2     465
 3     380
 4     480
 5     330
 6     430
 7     530
 8     630
 9     300
 10    420
 11    600
 12    700
 13    580
 14    600
 15    300
 16    500
 17    680
 18    300
 19    440
 20    520
 21    580
 22    325
 23    448
 24    520
 25    520
 26    470
 27    325
 28    465
 29    465
 30    500
 31    600
 32    530
 33    350
 34    495
 35    424
 36    525
 37    625
 38    535
 39    525
 40    600
 41    508
 42    495
 43    305
 44    489
 45    340
 46    490
 47    484
 48    600
 Name: Total, dtype: int64,
 0      580
 1      580
 2      245
 3      535
 4      534
       ...
 96     382
 97     499
 98     411
 99     500
 100    680
 Name: Total, Length: 101, dtype: int64,
 0     300
 1     450
 2     265
 3     405
 4     320
      ...
 62    530
 63    384
 64    509
 65    423
 66    600
 Name: Total, Length: 67, dtype: int64,
 0     195
 1     205
 2     395
 3     195
 4     205
      ...
 67    213
 68    411
 69    355
 70    495
 71    330
 Name: Total, Length: 72, dtype: int64,
 0     320
 1     485
 2     325
 3     465
 4     330
 5     480
 6     490
 7     525
 8     580
 9     205
 10    280
 11    365
 12    510
 13    610
 14    360
 15    580
 16    295
 17    475
 18    575
 19    405
 20    405
 21    263
 22    363
 23    523
 24    405
 25    535
 26    540
 27    440
 28    520
 29    520
 30    520
 31    520
 32    520
 33    295
 34    497
 35    428
 36    275
 37    405
 38    515
 39    580
 40    580
 41    289
 42    481
 43    431
 44    330
 45    460
 46    319
 47    472
 48    471
 49    680
 Name: Total, dtype: int64,
 0     309
 1     405
 2     534
 3     634
 4     634
      ...
 59    370
 60    520
 61    360
 62    550
 63    680
 Name: Total, Length: 64, dtype: int64,
 0     288
 1     438
 2     275
 3     365
 4     505
      ...
 57    260
 58    360
 59    485
 60    294
 61    464
 Name: Total, Length: 62, dtype: int64,
 0     300
 1     390
 2     495
 3     385
 4     355
 5     495
 6     355
 7     495
 8     515
 9     615
 10    410
 11    300
 12    410
 13    600
 14    700
 15    375
 16    440
 17    440
 18    355
 19    495
 20    355
 21    495
 22    580
 23    350
 24    495
 25    350
 26    495
 27    290
 28    525
 29    280
 30    390
 31    515
 32    401
 33    567
 34    580
 35    306
 36    500
 37    362
 38    521
 39    362
 40    521
 41    500
 42    600
 43    700
 44    345
 45    485
 46    505
 47    410
 48    380
 49    330
 50    430
 51    530
 52    485
 53    535
 54    325
 55    475
 56    355
 57    495
 Name: Total, dtype: int64,
 0      251
 1      349
 2      479
 3      579
 4      253
       ...
 97     472
 98     369
 99     507
 100    289
 101    481
 Name: Total, Length: 102, dtype: int64,
 0     310
 1     400
 2     500
 3     590
 4     328
      ...
 85    540
 86    600
 87    534
 88    288
 89    482
 Name: Total, Length: 90, dtype: int64]

In [11]:
summary_df = pd.DataFrame({
    'Type': unique_types,
    'Count': [len(total) for total in pokemon_totals_concat],
    'Mean Total': [total.mean() for total in pokemon_totals_concat],
    'Standard Deviation': [total.std() for total in pokemon_totals_concat],
    'Sum Total':[total.sum() for total in pokemon_totals_concat]
})


summary_df

        Type  Count  Mean Total  Standard Deviation  Sum Total
0     Dragon     50  541.760000          143.146929      27088
1      Grass     95  417.926316          103.225661      39703
2      Water    126  429.095238          111.978671      54066
3      Ghost     46  436.869565          106.301376      20096
4        Ice     38  467.447368          116.834070      17763
5   Fighting     53  470.113208          113.987459      24916
6       Dark     51  460.901961          113.144908      23506
7      Fairy     40  415.925000          135.741532      16637
8      Steel     49  486.591837          103.703487      23843
9     Flying    101  453.831683          123.496483      45837
10    Ground     67  441.074627          120.350915      29552
11       Bug     72  379.527778          116.355692      27326
12  Electric     50  444.840000          107.540474      22242
13      Fire     64  467.109375          118.267804      29895
14    Poison     62  397.693548           99.756686      24657
15      Rock     58  449.137931          100.995301      26050
16    Normal    102  402.068627          114.769011      41011
17   Psychic     90  477.088889          133.760363      42938

#### Now we run ANOVA test on `pokemon_totals`.

*Hints:*

* To conduct ANOVA, you can use `scipy.stats.f_oneway()`. Here's the [reference](http://b.link/scipy44).

* What if `f_oneway` throws an error because it does not accept `pokemon_totals` as a list? The trick is to add a `*` in front of `pokemon_totals`, e.g. `stats.f_oneway(*pokemon_groups)`. This trick breaks the list and supplies each list item as a parameter for `f_oneway`.

In [13]:
from scipy.stats import f_oneway

f_statistic, p_value_anova = f_oneway(*pokemon_totals_concat)
p_value_anova

2.6457458815984803e-15

#### Interpret the ANOVA test result. Is the difference significant?

Given a common significance level of α=0.05:

The obtained p-value is significantly less than α.

Conclusion:
There are statistically significant differences among the mean Total values of the different Pokémon types. This indicates that not all Pokémon types have the same average Total stat.